/* ContactBar.css */

.contact-bar {
    background: linear-gradient(135deg, rgb(255, 0, 208), rgb(0, 255, 0));
    padding: 30px 15px 20px 15px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    border-radius: 20px;
    display: flex;              /* Use flex to align children side by side */
    justify-content: center;    /* Center items horizontally */
    gap: 40px;                  /* Space between items */
    position: absolute;
    top: clamp(17.5rem, 22.5vw, 30rem);
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.contact-bar-item {
    display: flex;
    flex-direction: column;   /* Stack children vertically */
    align-items: center;      /* Center horizontally */
    margin: 0px clamp(0.75rem, 2vw, 1.5rem); /* Responsive horizontal margin */
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: #ffffff;
    text-align: center;
}

.contact-bar img {
    width: clamp(4.5rem, 10vw, 8rem);
    height: clamp(4.5rem, 10vw, 8rem);
    margin: 0 20px 10px 20px;
    transition: transform 0.3s;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

.contact-bar img:hover {
    transform: scale(1.1);
}

.contact-bar img:active {
    transform: scale(0.9);
}