/* Duyuru sayfası css bölümü */
html:has(.announcements-container) {
    margin-top: 0;
}

.announcements-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.scrollbar {
    font-size: clamp(1.25rem, 1.35vw, 1.6rem);
    padding: clamp(2.25rem, 2.5vw, 2.75rem) clamp(2.75rem, 4.05vw, 4.5rem);
    padding-left: clamp(2.2rem, 2.65vw, 3.35rem);
    padding-right: clamp(2.45rem, 3.65vw, 3.85rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.placeholder {
    font-size: clamp(1.35rem, 1.45vw, 1.75rem);
    font-weight: bolder;
    text-align: center;
    padding: 60px;
}

.scrollbar::-webkit-scrollbar {
    width: 30px;
}

.scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #bdbdbdbd;
    border: solid 8px transparent;
    border-radius: 25px;
}

.scrollbar li {
    border-radius: 25px;
    padding: 18px;
    line-height: 1.8;
    margin: 7px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.entertainment-section {
    display: flex;
    flex: 0.25;
}

@media (min-width: 600px) {
    .scrollbar li {
        max-height: 4.5rem;
    }
}