/* Duyuru sayfası css bölümü */
html:has(.announcements-container) {
    margin-top: 0;
}

.announcements-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.scrollbar {
    margin-top: 1.8rem;
    font-size: clamp(1.25rem, 1.35vw, 1.6rem);
    padding: 40px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    flex: 1.75;
    overflow-y: auto;
    direction: rtl;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar {
    width: 30px;
}

.scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #bdbdbdbd;
    border: solid 8px transparent;
    border-radius: 25px;
}

.scrollbar li {
    border-radius: 25px;
    padding: 18px;
    margin: 7px 0;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.entertainment-section {
    display: flex;
    flex: 1.25;
}