/* Duyuru sayfası css bölümü */
html:has(.announcements-container) {
    margin-top: 0;
}

.announcements-container {
    display: flex;
    flex-direction: row; 
    height: 100vh;
} 

.announcements-section {
    padding-top: clamp(3.75rem, 4vw, 4.5rem);
    padding-bottom: clamp(3rem, 3.25vw, 4.5rem);
    background: linear-gradient(135deg, #fff5d5 0%, #ffc99f 100%);
    border-radius: 0 0 60px 0;
    padding-left: 20px;
    padding-right: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 1vw, 1.2rem);
    flex: 2;
}

.entertainment-section {
    flex: 1;
}

.card-example  {
    font-size: clamp(0.75rem, 1.5vw, 2rem);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    background: linear-gradient(135deg, rgb(117, 205, 50) 0%, lime 100%);
    border-radius: 20px;
}
