/* Duyuru sayfası css bölümü */
html:has(.announcements-container) {
    margin-top: 0;
}

.announcements-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.scrollbar {
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    flex: 2;
    overflow-y: auto;
}


.entertainment-section {
    display: flex;
    flex: 1;
}