@import "tailwindcss";


/* Birden fazla olan element için tek tek uğraşmak yerine farklı stil sınıfları */
.cb-item {
  @apply flex flex-col items-center my-0 mx-[clamp(0.2rem,2vw,1.5rem)] text-[clamp(0.775rem,2vw,1.2rem)] text-white text-center;
}

.cb-img {
  @apply w-[clamp(4.5rem,10vw,8rem)] h-[clamp(4.5rem,10vw,8rem)] mx-[clamp(0.5rem,1.5vw,1.75rem)] mt-0 mb-2.5 transition-transform transform-gpu drop-shadow-lg hover:scale-110 active:scale-90;
}

.page-default {
  @apply w-full min-h-[103dvh] flex flex-col box-border items-center justify-center overscroll-none;
}

.navbar-btn {
  @apply bg-none border-none text-white text-[clamp(14px,1.75vw,17.5px)] my-1 mx-0.5 cursor-pointer hover:text-gray-400 active:scale-90 sm:my-0 sm:mx-[clamp(0.6rem,1vw,1.75rem)] transition duration-300 select-none;
}

.dashboard-paragraph {
  @apply flex flex-col  lg:gap-1.5 gap-[clamp(1.9rem,4vw,3.5rem)] px-12 sm:px-24 pb-4 w-full
}

.header-text {
  @apply text-[clamp(2rem,2vw,3rem)] font-extrabold tracking-tight drop-shadow-lg font-[Pixeloid2] text-center md:text-start
}

.paragraph {
  @apply text-[clamp(0.75rem,1.1vw,1.5rem)] xl:text-start text-center leading-relaxed bg-black/20 p-[clamp(0.5rem,0.75vw,1.25rem)] rounded-2xl my-1.75
}

.app {
  @apply h-dvh overflow-y-auto scroll-smooth relative;
}

.swiper-pagination-bullet {
  background: white !important; 
  opacity: 0.5;
  width: clamp(0.375rem,0.3vw,1rem) !important;
  height: clamp(0.375rem,0.3vw,1rem) !important;
}

.swiper-pagination-bullet-active {
  background: #664de6 !important; 
  opacity: 1;
}

.swiper-pagination { 
  bottom: 0 !important; 
} 

html, body {
  @apply overflow-hidden overscroll-none;
}

* {
  box-sizing: border-box;
}

@layer base {
  .gradient-base {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      var(--grad-primary) var(--grad-start),
      var(--grad-secondary) var(--grad-end),
      rgba(255, 255, 255, 0) 100%
    );
  }

  .about-dashboard-gradient {
    --grad-primary: #f0f4ff;
    --grad-secondary: #f6f5ff;
    --grad-start: 2%;
    --grad-end: 97.5%;
  }

  .announcement-dashboard-gradient {
    --grad-primary: #7008e7;
    --grad-secondary: #7008e7;
    --grad-start: 4%;
    --grad-end: 97%;
  }

  .projects-dashboard-gradient {
    --grad-primary: #fff8e1;
    --grad-secondary: #fff8e1;
    --grad-start: 2.5%;
    --grad-end: 97.5%;
  }

  .tri-gradient{
    background: linear-gradient(
      180deg,
      var(--grad-1) var(--start),
      var(--grad-2) var(--via),
      var(--grad-3) var(--end)
    );
  }

  .about-bg {
    --grad-1: rgba(163,133,235,0.85);
    --start: 0%;
    --grad-2: rgba(136,116,235,0.85);
    --via: 97%;
    --grad-3: rgba(244,196,48,0.85);
    --end: 100%
  }
  .projects-bg {
    --grad-1: rgba(244,196,48,0.85);
    --start: 0%;
    --grad-2: rgba(253,208,23,0.85);
    --via: 97%;
    --grad-3: rgba(116,235,213,0.85);
    --end: 100%
  }

  .contact-bg {
    --grad-1: rgba(116,235,213,0.85);
    --start: 0%;
    --grad-2: rgba(172,182,229,0.85);
    --via: 97%;
    --grad-3: rgba(172,182,229,1);
    --end: 100%
  }
}

/* Arkaplan animasyonu */
@theme {
  --animate-background: backgroundAnim 50s linear infinite;
}

@keyframes backgroundAnim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 512px 512px;
  }
}

/* Fontlar */
@font-face {
  font-family: "Pixelon";
  src: url(../src/assets/Pixelon.ttf);
}

@font-face {
  font-family: "Pixeloid2";
  src: url(../src/assets/Pixeloid2.ttf);
}

@font-face {
  font-family: "PixeloidMono";
  src: url(../src/assets/PixeloidMono.ttf);
}
